[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
imageio = "*"
pillow = "*"
tqdm = "*"
segmentation-models-pytorch = "*"
pandas = "*"
glob2 = "*"
joblib = "*"
ipython = "*"
opencv-python = "*"
scikit-learn = "*"
torch = "*"
timm = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.13"
